.main-title{
  font-size: 4vw;
  font-weight: 700;
  width: 30vw;
  height: 100px;
  color: #FF8C00;
  background: -webkit-linear-gradient(0deg, #40E0D0, #FF8C00, #FF0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}