<div class='cocktail-title'>
  <p>カクテルアプリ</p>
</div>

<div class='cocktail-text'>
  <p>チェックをつけた人の中からランダムで1人を選ぶ抽選アプリ</p>
</div>

<ul class='cocktail-language'>
  <p class='cocktail-list'>使った言語</p>
  <li>Java</li>
</ul>