<%= render 'shared/header' %>
<div class='cocktail-title'>
  <p>カクテルアプリ</p>
</div>

<div class='cocktail-text'>
  <p>カクテルのレシピを見れるアプリ</p>
</div>

<ul class='cocktail-lists'>
  <p class='cocktail-list'>使った言語</p>
  <li>Java</li>
</ul>
<ul class='cocktail-lists'>
  <p class='cocktail-framework'>使ったフレームワーク</p>
  <li>spring boot</li>
</ul>
<div class='cocktail-btn'>
  <%= link_to 'リンク', 'https://cocktail-app10.herokuapp.com/', class:'cocktail-link' %>
</div>

<%= render 'shared/footer' %>