<%= render 'shared/header' %>
<div class='header-title'>
  <span>Nipi</span><br>
  <span>Project</span>
</div>

<%= link_to team_c_nipis_path, class:'app-1-btn' do %>
  <div class='app-1-title'>
    <p>抽選アプリ</p>
  </div>
<% end %>

<%= link_to cocktail_app_nipis_path, class:'app-2-btn' do %>
  <div class='app-2-title'>
    <p>カクテルアプリ</p>
  </div>
<% end %>

<%= render 'shared/footer' %>