<%= render 'shared/header' %>

<div class='mypet-title'>
  <p>日記アプリ</p>
</div>

<div class='lottery-text'>
  <p>ペットの日記をペットごとに保存するアプリ</p>
</div>

<ul class='lottery-lists'>
  <p class='lottery-list'>使った言語</p>
  <li>Python</li>
</ul>

<ul class='lottery-lists'>
  <p class='lottery-framework'>使ったフレームワーク</p>
  <li>Django</li>
</ul>

<div class='lottery-btn'>
  <%= link_to 'リンク', 'https://team-c-84.herokuapp.com/', class:'lottery-link' %>
</div>

<%= render 'shared/footer' %>