<div class='lottery-title'>
  <p>抽選アプリ</p>
</div>

<div class='lottery-text'>
  <p>チェックをつけた人の中からランダムで1人を選ぶ抽選アプリ</p>
</div>

<ul class='lottery-language'>
  <p class='lottery-list'>使った言語</p>
  <li>Ruby</li>
  <li>jQuery</li>
</ul>

<%= link_to 'https://team-c-84.herokuapp.com/' %>
